In [1]:
import pandas as pd

In [ ]:
def getResClean(df):
  # Stage 1
  df['GPT2PredClean1'] = df['GPT2Pred'].apply(lambda x: x.split('Result:')[-1].split('\n')[0].strip())

  # Deep clean
  allGPTCleanedOutput = []
  for idx, row in enumerate(df['GPT2PredClean1']):
    optList = []
    if '{' in row and row.count('{')!=row.count('}'):
      row = row[1:]
      rec = row.split(', ')[:-1]
      for i in rec:
        optList.append(i.split(':')[-1].lstrip().strip('}'))
        optList = list(set(optList))
    elif '{' in row and row.count('{')==row.count('}'):
      optList = []
      row = row.lstrip('[').rstrip(']').rstrip(',')
      rec = row.split(', ')
      for i in rec:
        optList.append(i.split(':')[-1].lstrip().strip('}').replace("'", ''))
        optList = list(set(optList))
    else:
      optList = row
    allGPTCleanedOutput.append(optList)
  return allGPTCleanedOutput

In [ ]:
df = pd.read_csv('./GPT2/MCQ/FewShot_WK_MCQ_Output.csv')
display(df.head())

df['GPT2PredClean2'] = getResClean(df)
df[['correct_answers', 'GPT2PredClean2']].apply(lambda x: x[0] == x[1], axis=1).sum()*100/len(df), (df[['correct_answers', 'GPT2PredClean2']].apply(lambda x: x[0] == x[1], axis=1).sum(), len(df))

(0.9765625, (15, 1536))

In [ ]:
df = pd.read_csv('./GPT2/MCQ/FewShot_WOK_MCQ_Output.csv')
display(df.head())

df['GPT2PredClean2'] = getResClean(df)
df[['correct_answers', 'GPT2PredClean2']].apply(lambda x: x[0] == x[1], axis=1).sum()*100/len(df), (df[['correct_answers', 'GPT2PredClean2']].apply(lambda x: x[0] == x[1], axis=1).sum(), len(df))

,category,subcategory,premise,knowledge,question_text,options,correct_answers,correct_option,GPT2Pred
0,attribute_comparison,account_balance,Charlie has 622 dollars in his account. He wan...,One can not withdraw more money than the amoun...,At what cost could Charlie buy the vehicle fro...,"[{'A': 550}, {'B': 350}, {'C': 650}, {'D': 750...","[550, 350]","['A', 'B']",Choose the correct option(s) based on Knowledg...
1,attribute_comparison,account_balance,Jackson wants to buy a sports car. He has 534 ...,One can not withdraw more money than the amoun...,At what cost could Jackson buy the vehicle fro...,"[{'A': 550}, {'B': 400}, {'C': 500}, {'D': 650}]","[400, 500]","['B', 'C']",Choose the correct option(s) based on Knowledg...
2,attribute_comparison,account_balance,Cost of a bike is 692 dollars. William wants t...,One can not withdraw more money than the amoun...,How much money William could have to buy the v...,"[{'A': 500}, {'B': 600}, {'C': 800}, {'D': 450...",[800],['C'],Choose the correct option(s) based on Knowledg...
3,attribute_comparison,account_balance,Cost of a bike is 552 dollars. Nicolas wants t...,One can not withdraw more money than the amoun...,How much money Nicolas could have to buy the v...,"[{'A': 750}, {'B': 500}, {'C': 450}, {'D': 550...",[750],['A'],Choose the correct option(s) based on Knowledg...
4,attribute_comparison,age,Cole is 72 years old.,Son's age would be less than that of the father,How old could Cole's son be?,"[{'A': 47}, {'B': 22}, {'C': 97}, {'D': 72}]","[47, 22]","['A', 'B']",Choose the correct option(s) based on Knowledg...

(0.390625, (6, 1536))

In [ ]:
df = pd.read_csv('./GPT2/MCQ/OneShot_WK_MCQ_Output.csv')
display(df.head())

df['GPT2PredClean2'] = getResClean(df)
print(df[['correct_answers', 'GPT2PredClean2']].apply(lambda x: x[0] == x[1], axis=1).sum()*100/len(df), (df[['correct_answers', 'GPT2PredClean2']].apply(lambda x: x[0] == x[1], axis=1).sum(), len(df)))
display(df[['correct_answers', 'GPT2PredClean2']])

,category,subcategory,premise,knowledge,question_text,options,correct_answers,correct_option,GPT2Pred
0,attribute_comparison,account_balance,Charlie has 622 dollars in his account. He wan...,One can not withdraw more money than the amoun...,At what cost could Charlie buy the vehicle fro...,"[{'A': 550}, {'B': 350}, {'C': 650}, {'D': 750...","[550, 350]","['A', 'B']",Choose the correct option(s) based on Knowledg...
1,attribute_comparison,account_balance,Jackson wants to buy a sports car. He has 534 ...,One can not withdraw more money than the amoun...,At what cost could Jackson buy the vehicle fro...,"[{'A': 550}, {'B': 400}, {'C': 500}, {'D': 650}]","[400, 500]","['B', 'C']",Choose the correct option(s) based on Knowledg...
2,attribute_comparison,account_balance,Cost of a bike is 692 dollars. William wants t...,One can not withdraw more money than the amoun...,How much money William could have to buy the v...,"[{'A': 500}, {'B': 600}, {'C': 800}, {'D': 450...",[800],['C'],Choose the correct option(s) based on Knowledg...
3,attribute_comparison,account_balance,Cost of a bike is 552 dollars. Nicolas wants t...,One can not withdraw more money than the amoun...,How much money Nicolas could have to buy the v...,"[{'A': 750}, {'B': 500}, {'C': 450}, {'D': 550...",[750],['A'],Choose the correct option(s) based on Knowledg...
4,attribute_comparison,age,Cole is 72 years old.,Son's age would be less than that of the father,How old could Cole's son be?,"[{'A': 47}, {'B': 22}, {'C': 97}, {'D': 72}]","[47, 22]","['A', 'B']",Choose the correct option(s) based on Knowledg...

1.8229166666666667 (28, 1536)

     correct_answers        GPT2PredClean2
0         [550, 350]                 [575]
1         [400, 500]            [550, 400]
2              [800]  [500, 600, 800, 450]
3              [750]            [750, 500]
4           [47, 22]              [97, 72]
...              ...                   ...
1531       [6, 5, 7]                [6, 7]
1532        [14, 16]               [14, 7]
1533         [7, 10]         [10, 3, 2, 7]
1534            [25]      [25, 23, 22, 24]
1535             [7]          [4, 5, 6, 7]

[1536 rows x 2 columns]

In [ ]:
df = pd.read_csv('./GPT2/MCQ/OneShot_WOK_MCQ_Output.csv')
display(df.head())

df['GPT2PredClean2'] = getResClean(df)
print(df[['correct_answers', 'GPT2PredClean2']].apply(lambda x: x[0] == x[1], axis=1).sum()*100/len(df), (df[['correct_answers', 'GPT2PredClean2']].apply(lambda x: x[0] == x[1], axis=1).sum(), len(df)))
display(df[['correct_answers', 'GPT2PredClean2']])

,category,subcategory,premise,knowledge,question_text,options,correct_answers,correct_option,GPT2Pred
0,attribute_comparison,account_balance,Charlie has 622 dollars in his account. He wan...,One can not withdraw more money than the amoun...,At what cost could Charlie buy the vehicle fro...,"[{'A': 550}, {'B': 350}, {'C': 650}, {'D': 750...","[550, 350]","['A', 'B']",Choose the correct option(s) based on Knowledg...
1,attribute_comparison,account_balance,Jackson wants to buy a sports car. He has 534 ...,One can not withdraw more money than the amoun...,At what cost could Jackson buy the vehicle fro...,"[{'A': 550}, {'B': 400}, {'C': 500}, {'D': 650}]","[400, 500]","['B', 'C']",Choose the correct option(s) based on Knowledg...
2,attribute_comparison,account_balance,Cost of a bike is 692 dollars. William wants t...,One can not withdraw more money than the amoun...,How much money William could have to buy the v...,"[{'A': 500}, {'B': 600}, {'C': 800}, {'D': 450...",[800],['C'],Choose the correct option(s) based on Knowledg...
3,attribute_comparison,account_balance,Cost of a bike is 552 dollars. Nicolas wants t...,One can not withdraw more money than the amoun...,How much money Nicolas could have to buy the v...,"[{'A': 750}, {'B': 500}, {'C': 450}, {'D': 550...",[750],['A'],Choose the correct option(s) based on Knowledg...
4,attribute_comparison,age,Cole is 72 years old.,Son's age would be less than that of the father,How old could Cole's son be?,"[{'A': 47}, {'B': 22}, {'C': 97}, {'D': 72}]","[47, 22]","['A', 'B']",Choose the correct option(s) based on Knowledg...

1.6927083333333333 (26, 1536)

     correct_answers        GPT2PredClean2
0         [550, 350]                 [595]
1         [400, 500]            [550, 400]
2              [800]  [500, 600, 800, 450]
3              [750]            [750, 500]
4           [47, 22]              [97, 72]
...              ...                   ...
1531       [6, 5, 7]                [6, 7]
1532        [14, 16]               [14, 7]
1533         [7, 10]         [10, 3, 2, 7]
1534            [25]      [25, 23, 22, 24]
1535             [7]          [4, 5, 6, 7]

[1536 rows x 2 columns]

In [ ]:
df = pd.read_csv('./GPT2/MCQ/ZeroShot_WK_MCQ_Output.csv')
display(df.head())

df['GPT2PredClean2'] = getResClean(df)
print(df[['correct_answers', 'GPT2PredClean2']].apply(lambda x: x[0] == x[1], axis=1).sum()*100/len(df), (df[['correct_answers', 'GPT2PredClean2']].apply(lambda x: x[0] == x[1], axis=1).sum(), len(df)))
display(df[['correct_answers', 'GPT2PredClean2']])

,category,subcategory,premise,knowledge,question_text,options,correct_answers,correct_option,GPT2Pred
0,attribute_comparison,account_balance,Charlie has 622 dollars in his account. He wan...,One can not withdraw more money than the amoun...,At what cost could Charlie buy the vehicle fro...,"[{'A': 550}, {'B': 350}, {'C': 650}, {'D': 750...","[550, 350]","['A', 'B']",Choose the correct option(s) based on Knowledg...
1,attribute_comparison,account_balance,Jackson wants to buy a sports car. He has 534 ...,One can not withdraw more money than the amoun...,At what cost could Jackson buy the vehicle fro...,"[{'A': 550}, {'B': 400}, {'C': 500}, {'D': 650}]","[400, 500]","['B', 'C']",Choose the correct option(s) based on Knowledg...
2,attribute_comparison,account_balance,Cost of a bike is 692 dollars. William wants t...,One can not withdraw more money than the amoun...,How much money William could have to buy the v...,"[{'A': 500}, {'B': 600}, {'C': 800}, {'D': 450...",[800],['C'],Choose the correct option(s) based on Knowledg...
3,attribute_comparison,account_balance,Cost of a bike is 552 dollars. Nicolas wants t...,One can not withdraw more money than the amoun...,How much money Nicolas could have to buy the v...,"[{'A': 750}, {'B': 500}, {'C': 450}, {'D': 550...",[750],['A'],Choose the correct option(s) based on Knowledg...
4,attribute_comparison,age,Cole is 72 years old.,Son's age would be less than that of the father,How old could Cole's son be?,"[{'A': 47}, {'B': 22}, {'C': 97}, {'D': 72}]","[47, 22]","['A', 'B']",Choose the correct option(s) based on Knowledg...

0.0 (0, 1536)

     correct_answers                                     GPT2PredClean2
0         [550, 350]   Charlie has bought the vehicle from his account.
1         [400, 500]       Jackson has bought the car from his account.
2              [800]   William has to buy the vehicle from his account.
3              [750]   Nicolas has to buy the vehicle from his account.
4           [47, 22]                        Cole's son is 72 years old.
...              ...                                                ...
1531       [6, 5, 7]  Oliver has 1 pen and bought pencils more than ...
1532        [14, 16]                      Leo spent $14,000 on pencils.
1533         [7, 10]                        Isaac spent $1,000 on pens.
1534            [25]  Lucas's sister bought more than double of the ...
1535             [7]  Calvin's sister bought more than triple of Cal...

[1536 rows x 2 columns]

In [ ]:
df = pd.read_csv('./GPT2/MCQ/ZeroShot_WK_MCQ_Output.csv')
display(df.head())

df['GPT2PredClean2'] = getResClean(df)
print(df[['correct_answers', 'GPT2PredClean2']].apply(lambda x: x[0] == x[1], axis=1).sum()*100/len(df), (df[['correct_answers', 'GPT2PredClean2']].apply(lambda x: x[0] == x[1], axis=1).sum(), len(df)))
display(df[['correct_answers', 'GPT2PredClean2']])

,category,subcategory,premise,knowledge,question_text,options,correct_answers,correct_option,GPT2Pred
0,attribute_comparison,account_balance,Charlie has 622 dollars in his account. He wan...,One can not withdraw more money than the amoun...,At what cost could Charlie buy the vehicle fro...,"[{'A': 550}, {'B': 350}, {'C': 650}, {'D': 750...","[550, 350]","['A', 'B']",Choose the correct option(s) based on Knowledg...
1,attribute_comparison,account_balance,Jackson wants to buy a sports car. He has 534 ...,One can not withdraw more money than the amoun...,At what cost could Jackson buy the vehicle fro...,"[{'A': 550}, {'B': 400}, {'C': 500}, {'D': 650}]","[400, 500]","['B', 'C']",Choose the correct option(s) based on Knowledg...
2,attribute_comparison,account_balance,Cost of a bike is 692 dollars. William wants t...,One can not withdraw more money than the amoun...,How much money William could have to buy the v...,"[{'A': 500}, {'B': 600}, {'C': 800}, {'D': 450...",[800],['C'],Choose the correct option(s) based on Knowledg...
3,attribute_comparison,account_balance,Cost of a bike is 552 dollars. Nicolas wants t...,One can not withdraw more money than the amoun...,How much money Nicolas could have to buy the v...,"[{'A': 750}, {'B': 500}, {'C': 450}, {'D': 550...",[750],['A'],Choose the correct option(s) based on Knowledg...
4,attribute_comparison,age,Cole is 72 years old.,Son's age would be less than that of the father,How old could Cole's son be?,"[{'A': 47}, {'B': 22}, {'C': 97}, {'D': 72}]","[47, 22]","['A', 'B']",Choose the correct option(s) based on Knowledg...

0.0 (0, 1536)

     correct_answers                                     GPT2PredClean2
0         [550, 350]   Charlie has bought the vehicle from his account.
1         [400, 500]       Jackson has bought the car from his account.
2              [800]   William has to buy the vehicle from his account.
3              [750]   Nicolas has to buy the vehicle from his account.
4           [47, 22]                        Cole's son is 72 years old.
...              ...                                                ...
1531       [6, 5, 7]  Oliver has 1 pen and bought pencils more than ...
1532        [14, 16]                      Leo spent $14,000 on pencils.
1533         [7, 10]                        Isaac spent $1,000 on pens.
1534            [25]  Lucas's sister bought more than double of the ...
1535             [7]  Calvin's sister bought more than triple of Cal...

[1536 rows x 2 columns]